{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
<p>Esse site foi desenvolvido com o intuito de auuxiliar os alunos de macatrônica na busca por informações sobre o curso. Nessa plataforma, são apresentadas as matérias do curso de forma prática: através de imagens, resumos e comentários dos alunos.</p>
<p>Quem desevolveu esse site: 
    Olá, meu nome é Daniel e estou do 6° semestre do curso. Desde o princípio do curso, procurei por formas de entender como funciona cada matéria da Poli: algumas possuem muitas aulas com demonstrações matemáticas e etc, outras são baseadas em trabalhos que os alunos vão fazendo durante o semestre e ainda existem aquelas que têm que se estar atento a cada detalhe da aula. Com base nisso, criei esse site para informar os outros alunos do curso sobre as matérias que os aguardam e com quais devem tomar cuidado!
</p>
{% endblock content %}