{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A dolorum hic facere, perferendis error corporis tempora doloremque culpa architecto molestiae odit tenetur, sunt mollitia. Sapiente consequuntur cum nisi accusamus sint vero placeat sunt, reprehenderit officiis nam officia repudiandae quos voluptates maxime dolores tempore corrupti quisquam culpa illo? Mollitia, ipsum! Consequuntur amet incidunt saepe dignissimos corporis fugiat, numquam doloribus esse magni neque eos, cum necessitatibus voluptatum? Temporibus iure totam odit suscipit, quae at quis nam aliquid aut atque. Repellendus hic, cumque quis nihil, consectetur ad animi, quasi ut cum excepturi necessitatibus sequi ducimus! Delectus non eaque eligendi iusto asperiores, nulla dolore!</p>
{% endblock content %}