{% extends 'base.html' %} 
{% block title %}
  {{ materia.name }} 
{% endblock title %}
{% block content %}

<h2>Detalhes da Matéria:  {{ materia.name }} </h2>
<section class="dados-de-filme">
  <img src="{{ materia.imagem }}" alt="Imagem representativa da disciplina: {{ materia.name}}" />
  <ul>
    <li>Nome: {{ materia.name }}</li>
    <li>Professor Responsável:{{materia.professor}}</li>
    <li>Ano de Ativação: {{ materia.date }}</li>
    <li>Descrição: {{ materia.descricao }}</li>
    <li><a href="{% url 'materias:update' materia.id %}">Editar</a></li>
    <li><a href="{% url 'materias:delete' materia.id %}">Apagar</a></li>
  </ul>
</section>
<section>
  <header>
      <h3>Comentários</h3>
  </header>
  <ul>
      {% if materia.review_set.all %}
          {% for review in materia.review_set.all %}
              <figure>
                  <blockquote>
                      "{{ review.text }}"
                  </blockquote>
                  <figcaption>—{{ review.author }} ({{review.date}})</figcaption>
              </figure>
          {% endfor %}
      {% else %}
          <p>Ainda não existe nenhum comentário dessa matéria.</p>
      {% endif %}
  </ul>
    
  <hr>

  <a href="{% url 'materias:review' materia.id %}"><button>Crie sua Resenha</button></a>
</section>

{% endblock content %}