{% extends 'base.html' %} 
{% block title %}
  {{ materia.name }} 
{% endblock title %}
{% block content %}


<section class="dados-da-materia">
  <img src="{{ materia.imagem }}" alt="Imagem representativa da disciplina: {{ materia.name}}" />
  <h2>Detalhes da Matéria:  {{ materia.name }} </h2>
  <ul>
    <li>Professor Responsável:{{materia.professor}}</li>
    <li>Ano de Ativação: {{ materia.date }}</li>
    <li>Descrição: {{ materia.descricao }}</li>
    <li><a href="{% url 'materias:update' materia.id %}">Editar</a></li>
    <li><a href="{% url 'materias:delete' materia.id %}">Apagar</a></li>
  </ul>
</section>
{% endblock content %}