{% extends 'base.html' %}
{% block content %}
<h2>Atualizar os Dados da Matéria {{ materia.name }}</h2>
<form method="post" action="{% url 'materias:update' materia.id%}">
  {% csrf_token %}
  <p>
    <label for="id_name">Título:</label>
    <input type="text" name="name" id="id_name" value="{{ materia.name }}" />
  </p>
  <p>
    <label for=" id_professor">Professor Responsável:</label>
    <input
      type="text"
      name="professor"
      id="id_professor"
      value="{{ materia.professor }}"
    />
  </p>
  <p>
    <label for=" id_date">Data de Ativação:</label>
    <input
      type="date"
      name="date"
      id="id_date"
      value="{{ materia.date }}"
    />
  </p>
    <p>
    <label for=" id_imagem">Imagem Representativa:</label>
    <input
      type="url"
      name="imagem"
      id="id_imagem"
      value="{{materia.imagem}}"
    />
  </p>
  <p>
    <label for=" id_descricao">Descrição da Disciplina (Recomendo Copiar do Júpter):</label>
    <input
      type="text"
      name="descricao"
      id="id_descricao"
      value="{{materia.descricao}}"
    />
  </p>
  <button type="submit">Atualizar</button>
</form>
{% endblock content %}